{% extends 'layout.html' %}
{% block title %}
Password Reset
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="login-form">
    <form method="post" class="post-form">{% csrf_token %}
        <div class="form-group">  
            {{ form|crispy }}
        </div> 
        <span style="color:red;">{{ form.email.errors }}</span>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
                Send Password Reset Link
            </button>
        </div>
    </form>
</div> 
{% endblock %}